/* 불필요한 스크롤 삭제 */
html,body{
    width: 100%;
    overflow-x: hidden;
}


/* 폰트 */
@font-face {
    font-family: 'NotoSansKR-Regular';
    src: url('./fonts/NotoSansKR-Regular.otf') format('truetype');
}



body{
    font-family: 'NotoSansKR-Regular';
}

/* header */
div.hdrWrap{
    height: 160px;
}
div.hdrWrap>div.header::after{
    display: block;
    clear: both;
    content: '';
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
div.hdrWrap>div.header>div.hdrLeft::after{
    display: block;
    clear: both;
    content: '';
}
div.hdrWrap>div.header>div.hdrLeft{
    width: calc(100% / 12 * 4);
    float: left;
    /* height: 280px; */
    color: #0056a4;
    font-weight: 700;
    margin-top: 40px;
}
div.hdrWrap>div.header>div.hdrLeft>i{
    float: left;
    width: calc(100% / 4 * 0.2);
    line-height: 80px;
    font-size: 18px;
    line-height: 80px;
}
div.hdrWrap>div.header>div.hdrLeft>h4{
    float: left;
    width: calc(100% / 4);
    line-height: 80px;
    font-size: 18px;
    line-height: 80px;
    text-transform: uppercase;
    margin-left: 10px;
    cursor: pointer;
}
div.hdrWrap>div.header>div.middle>h1>a{ 
    width: 100%;
    height: 100%;
    display: block;
}

/* 왼쪽 클릭 */
div.hdrWrap>div.header>div.hdrLeft1{
    height: 280px;
    background-color: #043e73;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
}
div.hdrWrap>div.header>div.hdrLeft1>h4{
    text-transform: uppercase;
    text-align: right;
    padding-top: 40px;
    padding-right: 20px;
    line-height: 40px;
    cursor: pointer;
    color: #ccc;
    min-width: 110px;
}
div.hdrWrap>div.header>div.hdrLeft1>ul{
    font-size: 20px;
    color: #ccc;
    line-height: 40px;
    margin-left: calc(100% / 5.5);
    padding-top: 40px;
}
div.hdrWrap>div.header>div.hdrLeft1>ul>li:hover{
    color: #fff;
}
div.hdrWrap>div.header>div.hdrLeft1>ul>li{
    cursor: pointer;
    transition: all 0.5s;
}
div.hdrWrap>div.header>div.hdrLeft1>ul>li:nth-child(1)~li{
  min-width: 170px;
}
div.hdrWrap>div.header>div.middle{
    width: calc(100% / 12 * 4.5);
    float: left;
    text-align: center;
    height: 160px;
}
div.hdrWrap>div.header>div.middle>h1{
    background-image: url('../images/logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80px;
    width: calc(100% / 5 * 3.6);
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
}
div.hdrWrap>div.header>div.hdrRight{
    width: calc(100% / 12 * 3.5);
    float: left;
    height: 280px;
}
div.hdrWrap>div.header>div.hdrRight>h4{
    font-size: 18px;
    color: #043e73;
    line-height: 80px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 40px;
}
div.hdrWrap>div.header>div.hdrRight>h4>i{}



/* 오른쪽 클릭 */
div.hdrWrap>div.header>div.hdrRight2{
    width: 100%;
    width: calc(100% / 12 * 3.5);
    float: right;
    background-color: #043e73;
    height: 280px;
    color: #ccc;
    position: relative;
    margin-top: -280px;
    margin-top: -560px;
    transition: all 0.5s;
}
div.hdrWrap>div.header>div.hdrRight2>h4{
    text-transform: uppercase;
    text-align: right;
    padding-top: 40px;
    padding-right: 20px;
    line-height: 40px;
    cursor: pointer;
}
div.hdrWrap>div.header>div.hdrRight2>h4>i{}
div.hdrWrap>div.header>div.hdrRight2>h5{
    width: calc(100% / 4 * 3);
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    padding-left: 20px;
    margin-top: 60px;
}



/* main */
.mainWrap{
    width: 100vw;
    max-width: none;
    background-image: url('../images/sub_3/sub03_main_img_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main{
    height: 680px;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
.main .texts {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
.main .texts h4{
    font-size: 24px;
    line-height: 40px;
    margin-top: -20px;
}

.main .texts h5{
    font-size: 16px;
    line-height: 20px;
    margin-top: 300px;
}

/* cnt common */
div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content header>h2{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #0056a4;
    font-weight: 700;
}
div.cntWrap>div.content header>p{
    font-size: 16px;
    line-height: 40px;
    color: #333;
}


/* cnt01 */
div.cntWrap>.content.cnt01::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>.content.cnt01{
    padding-bottom: 40px;
}
div.cntWrap>.content.cnt01 header{
    width: calc(100% / 12 * 3);
    float: left;
}
div.cntWrap>.content.cnt01 header h4{
    font-size: 18px;
    line-height: 40px;
}
div.cntWrap>.content.cnt01 header h3{
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    text-align: left;
}
div.cntWrap>.content.cnt01 header p{
    font-size: 14px;
    line-height: 20px;
}

div.cntWrap>.content.cnt01 header .btns::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>.content.cnt01 header .btns{
    margin-top: 40px;
    width: 30%;
    float: right;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    min-width: 80px;
}
div.cntWrap>.content.cnt01 header .btns i:hover{
    border: 5px solid #0056a4;
    color: #0056a4;
}
div.cntWrap>.content.cnt01 header .btns i{
    border: 5px solid #ccc;
    border-radius: 50%;
    color: #ccc;
    font-weight: 700;
    width: 50%;
    float: left;
    transition: all 0.5s;
    cursor: pointer;
}

div.cntWrap>.content.cnt01 header .bars::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>.content.cnt01 header .bar{
    width: 60%;
    height: 5px;
    background-color: #ccc;
    margin-top: 40px;float: left;
}

div.cntWrap>.content.cnt01 header .bar .blue{
    width: 0%;
    height: 5px;
    background-color: #0056a4;
    transition: all 0.5s;
}

div.cntWrap>.content.cnt01 section{
    width: calc(100% / 12 * 8.5);
    float: right;
}

div.cntWrap>div.content.cnt01>section>div.artView{
    width: calc((100vw - 1080px) / 2 + 100%);
    /* 더이상 줄어들지 않게 */
    min-width: calc((100vw - 80vw) / 2 + 100%);
    overflow: hidden;
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup::after{
    display: block;
    clear: both;
    content: '';
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup{
    width: 140%;
    transition: all 0.5s;
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup>div.article{
    float: left;
    width: calc(100% / 6 - 10px);
    margin: 0 5px;
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup>div.article>div.image{
    width: 100%;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup>div.article>div.image.i1{
    background-image: url('../images/sub_3/sub03_cnt01_img01.jpg');
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup>div.article>div.image.i2{
    background-image: url('../images/sub_3/sub03_cnt01_img02.jpg');
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup>div.article>div.image.i3{
    background-image: url('../images/sub_3/sub03_cnt01_img03.jpg');
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup>div.article>div.image.i4{
    background-image: url('../images/sub_3/sub03_cnt01_img04.jpg');
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup>div.article>div.image.i5{
    background-image: url('../images/sub_3/sub03_cnt01_img05.jpg');
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup>div.article>div.image.i6{
    background-image: url('../images/sub_3/sub03_cnt01_img06.jpg');
  }
  div.cntWrap>div.content.cnt01>section>div.artView>div.artGroup>div.article>div.texts{
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px;
      color: #363637;
  }


  /* cnt 02 */
  div.cntWrap>.content.cnt02{}
  div.cntWrap>.content.cnt02 header{
    display: none;
  }

  div.cntWrap>.content.cnt02 section .artRight .texts h2{
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }

  div.cntWrap>.content.cnt02 section::after{
      display: block;
      clear: both;
      content: '';
  }
  div.cntWrap>.content.cnt02 section::after{
      display: block;
      clear: both;
      content: '';
  }
  div.cntWrap>.content.cnt02 section{}
  div.cntWrap>.content.cnt02 section .artLeft{
      width: calc(100% / 12 * 6);
      float: left;
      height: 720px;
    }
div.cntWrap>.content.cnt02 section .artLeft .images .ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%);
    margin-left: min(calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2));
    min-width: calc((100vw - 80vw) / 2 + 100%);
    position: relative;
    height: 500px;
}
div.cntWrap>.content.cnt02 section .artLeft .images .ovrGrid .image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}
div.cntWrap>.content.cnt02 section .artLeft .images .ovrGrid .image.i1{
    background-image: url('../images/sub_3/sub03_cnt02_left_02.jpg');
    height: 640px;
    width: calc(100% / 12 * 7.5);
    z-index: 999;
    right: 0;
    top: 0;
    transition: all 0.5s;
}
div.cntWrap>.content.cnt02 section .artLeft .images .ovrGrid .image.i2{
    background-image: url('../images/sub_3/sub03_cnt02_bg.jpg');
    height: 520px;
    width: calc(100% / 12 * 6);
    margin-top: 200px;
}


div.cntWrap>.content.cnt02 section .artRight .texts h2{
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>.content.cnt02 section .artRight .texts p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 40px;
    color: #333;
}
div.cntWrap>.content.cnt02 section .artRight .images::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>.content.cnt02 section .artRight .images{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 140px;
}
div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid{         
    width: calc((100vw - 1080px) / 2 + 80%);
    min-width: calc((100vw - 80vw) / 2 + 80%);
    height: 240px;
}


div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .group .text.show{
    transform: rotateX(0deg);

}

div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .group .image.show{
    transform: rotateX(180deg);
    backface-visibility: hidden;
    transition: transform 1s;
}

div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .group{
    width: calc(100% / 3 - 20px);
    float: left;
    cursor: pointer;
    margin: 0 10px;

    /* 효과 */
    perspective: 1000px;
}
div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .text{
    padding: 20px;
    margin-top: -200px;
    height: 200px;
    background-color: #0056a4;
    color: #fff;
    font-size: 13px;
    overflow: hidden;

    /* 효과 */
    transform: rotateX(180deg);
    backface-visibility: hidden;
    transition: transform 1s;
}

div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .text p{
    height: 150px;
    overflow: hidden;
}


div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .image{
    height: 200px;
    background-color: #ccc;
    filter: grayscale(1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* 효과 */
    transform: rotateX(0deg);
    backface-visibility: hidden;
    transition: transform 1s;

}
div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .image:nth-child(1){
    filter: grayscale(0);
}


/* div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .image:hover{
    filter: grayscale(0);
} */


div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .image.i1
{
    background-image: url('../images/sub_3/sub03_cnt02_right_02.jpg');
}

div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .image.i2{
    background-image: url('../images/sub_3/sub03_cnt02_right_03.jpg');
}

div.cntWrap>.content.cnt02 section .artRight .images .ovrGrid .image.i3{
    background-image: url('../images/sub_3/sub03_cnt02_right_04.jpg');
}



div.cntWrap>.content.cnt02 section .artRight{
    float: right;
    width: calc(100% / 12 * 5);
}

div.cntWrap>.content.cnt02 section .artRight .bars::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>.content.cnt02 section .artRight .bars{
    width: 70%;
}
div.cntWrap>.content.cnt02 section .artRight .bars h4{
    float: left;
    width: 20%;
    text-align: center;
}
div.cntWrap>.content.cnt02 section .artRight .bars .bar{
    float: left;
    width: 50%;
    background-color: #ccc;
    height: 5px;
    margin-top: 10px;
}
div.cntWrap>.content.cnt02 section .artRight .bars .bar .blue{
    width: calc(100% / 3);
    background-color: #0056a4;
    height: 5px;
    transition: all 0.5s;
}

/* cnt03 */
div.cntWrap>.content.cnt03{
    padding-bottom: 80px;
}
div.cntWrap>.content.cnt03 section{
    margin-top: 40px;
    position: relative;
    height: 600px;
}
div.cntWrap>.content.cnt03 section::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>.content.cnt03 section .artLeft{
    width: calc(100% / 12 * 5);
    float: left;
  }

div.cntWrap>.content.cnt03 section .artLeft article .texts{
    margin-top: 160px;
}

div.cntWrap>.content.cnt03 section .artLeft article .texts h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>.content.cnt03 section .artLeft article .texts p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 40px;
    color: #333;
}


div.cntWrap>.content.cnt03 section .images{
    margin-top: 80px;
}
div.cntWrap>.content.cnt03 section .artMiddle{
    width: calc(100% / 12 * 6);
    position: absolute;
    margin-top: 440px;
    z-index: 999;
}
div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid{
    width: calc((100vw - 1080px) / 2 + 80%);
    margin-left: min(20% + calc((100vw - 1080px) / -2), 20% + calc((100vw - 80vw) / -2));
    min-width: calc((100vw - 80vw) / 2 + 100%);
    height: 160px;
}
div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid::after{
    display: block;
    clear: both;
    content: '';
}

div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid .group{
    float: left;
    margin: 0 10px;
    height: inherit;
    width: calc(100% / 3 - 20px);
    perspective: 1000px;
    cursor: pointer;
}

div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid .image.show{
    transform: rotateX(180deg);
    backface-visibility: hidden;
    transition: transform 1s;

}
div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid .image{
    height: inherit;
    width: 100%;
    transform: rotateX(0deg);
    backface-visibility: hidden;
    transition: transform 1s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid .text.show{
    transform: rotateX(0deg);
}
div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid .text{
    padding: 20px;
    margin-top: -160px;
    height: 160px;
    background-color: #0056a4;
    color: #fff;
    font-size: 13px;
    transform: rotateX(180deg);
    backface-visibility: hidden;
    transition: transform 1s;
    overflow: hidden;
}
div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid .text p{
    height: 135px;
    overflow: hidden;
}

div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid .image.i1{
    background-image: url('../images/sub_3/sub03_cnt03_01_001.jpg');
}
div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid .image.i2{
    background-image: url('../images/sub_3/sub03_cnt03_02._1_001.JPG');
}
div.cntWrap>.content.cnt03 section .artMiddle .images .ovrGrid .image.i3{
    background-image: url('../images/sub_3/sub03_cnt03_03_001.jpg');
}


  div.cntWrap>.content.cnt03 section .artRight{
      width: calc(100% / 12 * 7);
      float: left;
  }
  div.cntWrap>.content.cnt03 section .artRight .images .ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
    height: 240px;
    position: relative;
}
div.cntWrap>.content.cnt03 section .artRight .images .ovrGrid .image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}
div.cntWrap>.content.cnt03 section .artRight .images .ovrGrid .image.i1{
    background-image: url('../images/sub_3/sub03_cnt03_01_1.jpg');
    z-index: 1;
    width: calc(100% / 12 * 9);
    height: 480px;
    top: 40px;
    transition: all 0.5s;
}
div.cntWrap>.content.cnt03 section .artRight .images .ovrGrid .image.i2{
    background-image: url('../images/sub_3/sub03_cnt03_bg.jpg');
    top: 0;
    right: 0;
    width: calc(100% / 12 * 7);
    height: 600px;
}


/* cnt04 */
div.cntWrap>.content.cnt04{}
div.cntWrap>.content.cnt04 section::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>.content.cnt04 section{
    margin-top: 120px;
    position: relative;
}
div.cntWrap>.content.cnt04 div.artLeft{
    width: calc(100% / 12 * 8.5);  
    float: left;
    position: absolute;
    top: 0;
    left: 0%;

}
div.cntWrap>.content.cnt04 div.artLeft div.ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%);
    margin-left: min(-100% + calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2));
    
    overflow: hidden;
    min-width: calc((100vw - 80vw) / 2);
}
div.cntWrap>.content.cnt04 div.artLeft div.ovrGrid div.images::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>.content.cnt04 div.artLeft div.ovrGrid div.images{
    width: 400%;
    margin-left: -100%;
}
div.cntWrap>.content.cnt04 div.artLeft div.ovrGrid div.images .image{
    height: 480px;
    width: calc(100% / 4);
    /* margin: 0 20px; */
    float: left;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div.cntWrap>.content.cnt04 div.artLeft div.ovrGrid div.images .image.i1{
    background-image: url('../images/sub_3/sub03_cnt04_02.jpg');
}
div.cntWrap>.content.cnt04 div.artLeft div.ovrGrid div.images .image.i2{
    background-image: url('../images/sub_3/sub03_cnt04_03.jpg');
}
div.cntWrap>.content.cnt04 div.artLeft div.ovrGrid div.images .image.i3{
    background-image: url('../images/sub_3/sub03_cnt04_01.jpg');
}
div.cntWrap>.content.cnt04 div.artLeft div.ovrGrid div.images .image.i4{
    background-image: url('../images/sub_3/sub03_cnt04_05.jpg');
}

div.cntWrap>.content.cnt04 div.texts .btns::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>.content.cnt04 div.texts .btns{
    width: 25%;
    min-width: 80px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
div.cntWrap>.content.cnt04 div.texts .btns i:hover{
    border: 5px solid #0056a4;
    color: #0056a4;
}
div.cntWrap>.content.cnt04 div.texts .btns i{
    border: 5px solid rgb(204, 204, 204);
    border-radius: 50%;
    color: rgb(204, 204, 204);
    font-weight: 700;
    width: 50%;
    float: left;
    transition: all 0.5s;
    cursor: pointer;
}


div.cntWrap>.content.cnt04 div.texts{
    width: calc(100% / 12 * 3.5);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 160px;
    float: left;
    background-color: #fff;
    padding-left: 20px;
}
div.cntWrap>.content.cnt04 div.texts h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>.content.cnt04 div.texts p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    width: calc(100% / 3.5 * 3);
    height: 80px;
    overflow: hidden;
}

div.cntWrap>.content.cnt04 div.artRight{
    width: calc(100% / 12 * 8.5);  
    float: left;
    margin-left: calc(100% / 12 * 3.5);
    
}
div.cntWrap>.content.cnt04 div.artRight div.ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
    overflow: hidden;
}
div.cntWrap>.content.cnt04 div.artRight div.ovrGrid div.images::after{
    display: block;
    clear: both;
    content: '';
}
div.cntWrap>.content.cnt04 div.artRight div.ovrGrid div.images{
    width: 500%;
}
div.cntWrap>.content.cnt04 div.artRight div.ovrGrid div.images .image{
    height: 480px;
    width: calc(100% / 6 - 40px);
    margin: 0 20px;
    float: left;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
div.cntWrap>.content.cnt04 div.artRight div.ovrGrid div.images .image a{
    display: block;
    width: 100%;
    height: 100%;
}

div.cntWrap>.content.cnt04 div.artRight div.ovrGrid div.images .image.i1{
    background-image: url('../images/sub_3/sub03_cnt04_02.jpg');
}
div.cntWrap>.content.cnt04 div.artRight div.ovrGrid div.images .image.i2{
    background-image: url('../images/sub_3/sub03_cnt04_03.jpg');
}
div.cntWrap>.content.cnt04 div.artRight div.ovrGrid div.images .image.i3{
    background-image: url('../images/sub_3/sub03_cnt04_01.jpg');
}

div.cntWrap>.content.cnt04 div.artRight div.ovrGrid div.images .image.i4{
    background-image: url('../images/sub_3/sub03_cnt04_05.jpg');
}

/* bnr */
.bnrWrap{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/sub_3/sub03_bnr_01.jpg');
}
.banner::after{
    display: block;
    clear: both;
    content: '';
}
.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    margin-top: 120px;
    padding: 20px 0px;
}
.banner h4{
    float: left;
    width: calc(100% / 12 * 3);
    margin-left: calc(100% / 12 * 1.7);
    font-size: 32px;
    font-weight: 700;
    line-height: 80px;
    padding-top: 150px;
}
.banner div.image:hover{
    animation-name: bottle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    filter: drop-shadow(5px 5px 5px rgb(255, 220, 79));


}
.banner div.image{
    float: left;
    width: calc(100% / 12 * 2.5);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/sub_3/sub03_bnr_02.png');
    filter: drop-shadow(5px 5px 5px #000);
    transition: all 0.5s;
}
.banner p{
    float: right;
    font-size: 18px;
    line-height: 20px;
    width: calc(100% / 12 * 4.5);
    padding-top: 160px;
}

/* 키프레임 부분 */
@keyframes bottle {0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}



/* footer */
div.ftrWrap{
    margin-top: 80px;
    padding-bottom: 80px;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}
div.ftrWrap>div.footer>h1{
    font-size: 45px;
    line-height: 40px;
    text-transform: uppercase;
    color: #043e73;
    font-weight: 700;
}
div.ftrWrap>div.footer>h4{
    font-size: 18px;
    line-height: 40px;
}

div.ftrWrap>div.footer input{
    width: calc(100% / 12 * 3.5);
    border: 2px solid #043e73;
    font-size: 14px;
    line-height: 40px;
    border-radius: 20px;
    min-width: 180px;
    margin-top: 20px;
    color: #043e73;
    text-indent: 20px;
    
}
div.ftrWrap>div.footer>p{
    font-size: 11px;
    line-height: 20px;
    margin-top: 20px;
    color: #ccc;
}