/* 헤더 */
div.hdrWrap>div.header{
  width: 90%;
  max-width: 700px;
}
div.hdrWrap>div.header>div.hdrLeft>h4{
  font-size: 16px;
}
div.hdrWrap>div.header>div.hdrRight>h4{
  font-size: 16px;
  margin-top: 0px;
}
div.hdrWrap>div.header>div.middle>h1{
  margin-top: 0px;
  width: calc(100% / 4 * 2.5);
}
div.hdrWrap>div.header>div.middle{
  width: calc(100% / 8 * 4);
  height: 200px;
}
div.hdrWrap>div.header>div.hdrLeft{
  margin-top: 0px;
  width: calc(100% / 8 * 2);
  height: 200px;
}
div.hdrWrap>div.header>div.middle>p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}
div.hdrWrap>div.header>div.hdrRight{
  width: calc(100% / 8 * 2);
  height: 200px;
}
div.hdrWrap{
  height: 80px;
}

/* 움직이는 애들 */
div.hdrWrap>div.header>div.hdrRight2{
  width: calc(100% / 8 * 2.8);
}

div.hdrWrap>div.header>div.middle>div.btn>p{
  height: 20px;
  width: calc(100% / 4);
  line-height: 20px;
  font-size: 10px;
}

/* 추가수정 */
/* 오른쪽 */
div.hdrWrap>div.header>div.hdrRight2>h4{
  padding-top: 30px;
}
div.hdrWrap>div.header>div.hdrRight2>h5{
  margin-top: 30px;
}
div.hdrWrap>div.header>div.hdrRight2{
  height: 200px;
}

/* 왼쪽 */
div.hdrWrap>div.header>div.hdrLeft1>h4{
  padding-top: 30px;
}
div.hdrWrap>div.header>div.hdrLeft1>ul{
  padding-top: 30px;
}



/* 메인 */
div.mainWrap{
  background-image: url('../images/sub01_main_yun_img.jpg');
}
div.mainWrap>div.main{
  margin-top: 0px;
  width: 90%;
  max-width: 700px;
}
div.mainWrap>div.main{
  height: 400px;
}
div.mainWrap>div.main>div.texts>h2{
  font-size: 47px;
}
div.mainWrap>div.main>div.texts>p{
  font-size: 12px;
  height: 40px;
  overflow: hidden;
}
div.mainWrap>div.main>div.texts{
  padding-top: 80px;
}
div.mainWrap>div.main>div.texts>div.play{
  margin-top: 30px;
}
div.mainWrap>div.main>div.texts>div.play>i{
  font-size: 50px;
  height: 80px;
  width: 80px;
  line-height: 80px;
}


/* cnt common */

div.cntWrap>div.content{
  width: 90%;
  max-width: 700px;
}
div.cntWrap>div.content>div.section{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.header>h2{
  font-size: 20px;
}
div.cntWrap{
  margin-top: 40px;
}


/* cnt01 */
div.cntWrap>div.content.cnt01>div.section>div.article>div.images{
  height: 320px;
  margin-top: 40px;
}

div.cntWrap>div.content.cnt01>div.section>div.article>div.btns>i{
  cursor: pointer;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.btns>i:nth-child(1){
  top: 70px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.btns>i:nth-child(2){
  top: 70px;
}
div.cntWrap>div.content>div.section{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.view>div.textsGroup>div.texts>div.txtLeft>h3{
  font-size: 24px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.view>div.textsGroup>div.texts>div.txtLeft>h5{
  font-size: 14px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.view>div.textsGroup>div.texts>div.txtLeft>p{
  font-size: 12px;
  line-height: 20px;
  height: 100px;
  overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.view{
  /* margin-top: 0px; */
  height: 280px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.arrow{
  bottom: -78px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.view>div.textsGroup>div.texts>div.txtLeft{
  padding: 40px calc(100% / 8 * 0.5);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.view>div.textsGroup>div.texts>div.txtRight>div.image{
  height: 280px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.view>div.textsGroup>div.texts>div.txtRight{
  padding: 0;
}

/* cnt02 */
div.cntWrap>div.content.cnt02>div.section>div.article{
  width: 90%;
  max-width: 700px;
}
div.cntWrap>div.content.cnt02>div.header>div.images{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.header>div.images>div.image{
  height: 360px;
}
div.cntWrap>div.content.cnt02>div.section{
  margin-left: min(calc((100vw - 700px) / -2),calc((100vw - 90vw) / -2));
  height: 480px;
  margin-top: -120px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
  font-size: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h4{
  font-size: 18px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
  padding-top: 160px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.images{
  width: calc(100% / 8 * 6);
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.images>div.image{
  width: calc(100% / 6 - 10px);
  margin: 0 5px;
  height: 80px;
}

/* banner */
div.bnrWrap{
  margin-top: 40px;
}
div.bnrWrap>div.banner{
  width: 90%;
  max-width: 700px;
}

div.bnrWrap>div.banner>div.bnrTop>div.images>div.image{
  height: 240px;
}
div.bnrWrap>div.banner>div.bnrMiddle>div.images>div.image{
  height: 240px;
}
div.bnrWrap>div.banner>div.bnrBtm>div.images>div.image{
  height: 240px;
}
div.bnrWrap>div.banner>div.bnrMiddle>div.texts>h3{
  font-size: 20px;
  margin-top: 60px;
}
div.bnrWrap>div.banner>div.bnrMiddle>div.texts>p{
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}

/* footer */
div.ftrWrap>div.footer{
  width: 90%;
  max-width: 700px;
}
div.ftrWrap{
  margin-top: 40px;
}

div.ftrWrap>div.footer>h1{
  font-size: 30px;
}
div.ftrWrap>div.footer>h4{
  font-size: 14px;
  line-height: 20px;
}
div.ftrWrap{
  padding-bottom: 40px;
}